html, body {
	height: 100%;
	background-color: #3b4554;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

h3 {
	color: #404041;
}

.main-container {
	background-color: #3b4554;
}

.nav-button {
	background-color: #4178be;
	width: 75px;
	height: 50px;
}

.navbar-brand {
float: right;
}

#navbar {
	background-color: #152935;
}

.widget1 {
	background-color: #ffffff;
	height: 100%;
	padding: 15px;
}

.widget2 {
	background-color: #eff3f7;
	height: 100%;
	padding: 15px;
	margin-left: 20px;
	
}

.widget1-container, .widget2-container {
	min-height: 523.64px;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0 !important;
}

.full-height{
	height: 100%;
}

.master-container {
	height: 100%;
	padding: 85px 35px 35px 35px !important;
}

#vis {
	display: block;
	margin: auto;
	max-height: 100%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100% !important;
    vertical-align: top;

}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.generate-button-container{
	position: absolute;
	bottom: 20px;
	left: 0;
	display: block;
	margin: auto;
	padding: 5px;
	width: 100%;
	height: 50px;
}

.generate-button {
	background-color: #808080;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	color: #eff3f7;
	border-radius: 3px;
	cursor: pointer;
}

label {
	margin-top: 10px !important;
}

.generate-button:hover{
    background: #909090;    
}

.select2 {
    width: 100% !important;
}

@media (max-width: 992px) {
	.widget1-container {
		min-height: 200px !important;
		height: 200px !important;
		min-width: 500px;
	}
	.widget2-container {
		height: 523.64px !important;
		min-width: 500px;
		margin-top: 20px;
	}
	.widget2{
		margin-left: 0;
	}

	.generate-button {
		height: 100% !important;
		line-height: 190px !important;
	}

	.generate-button-container{
		position: absolute;
		bottom: 0 !important;
		left: auto !important;
		right: 0 !important;
		display: block;
		margin: auto;
		padding: 5px;
		width: 110px !important;
		height: 100% !important;
	}

	label{
		height: 115px !important;
		width: calc(100% - 110px) !important;
		margin-top: 10px !important;
	}
}