html, body {
	height: 100%;
	background-color: #3b4554;
}

h1, h2, h3, h4, h5 {
  display: inline-block;
  border-bottom: 2px solid #d8dde8;
	margin: 0;
}

h3 {
	color: #404041;
}

.main-container {
	background-color: #3b4554;
}

.nav-button {
	background-color: #4178be;
	width: 75px;
	height: 50px;
}

.navbar-brand {
float: right;
}

#navbar {
	background-color: #152935;
}

.widget1 {
	background-color: #ffffff;
	height: 100%;
	padding: 15px;
}

.widget2 {
	background-color: #eff3f7;
	height: 100%;
	padding: 15px;
	margin-right: 20px;
	position: relative;

}

.master-container {
	height: 100%;
	min-height: 700px;
	padding: 85px 35px 35px 35px !important;
}

#vis {
	display: block;
	margin: auto;
	max-height: 100%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100% !important;
    vertical-align: top;

}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.filter-button-container{
	position: absolute;
	bottom: 20px;
	left: 0;
	display: block;
	margin: auto;
	padding: 5px;
	width: 100%;
	height: 50px;
}

.filter-button {
	background-color: #808080;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	color: #eff3f7;
	border-radius: 3px;
	cursor: pointer;
}

label {
	margin-top: 10px !important;
}

.filter-button:hover{
    background: #909090;
}

.select2 {
    width: 100% !important;
}

#vis-select {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 125px;
	background-color: rgba(200, 200, 200, 0.8);
	border: 2px solid #707070;
	z-index: 100;
	opacity: 0.9;
}

#msg-select {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 350px;
	height: 500px;
	background-color: #dddddd;
	border: 2px solid #707070;
	z-index: 101;
	opacity: 0.9;
}

.vis-select-item{
	width: 90px;
	height: 110px;
	margin-top: 5px;
	margin-left: 20px;
	text-align: center;
}

.vis-select-item:hover{
	background-color: #cccccc;
}

.vis-select-thumb{
	width: 90px;
	height: 90px;
}

.dtable {
	display: table;
}

.dtablec {
	display: table-cell;
}

.modal-dialog,
.modal-content, .modal-body {
    height: 80%;
}

.modal-content {
	min-height: 595px;
}

.widget3-container {
  padding-top: 20px;
}

.widget2-container-inner {
}

.search-icon-container {
	width: 256px !important;
}

.messages-box{
	overflow-y: scroll;
	height: calc(100% - 40px);
	width: 100%;
	margin: 10px 0 10px 0;
	border: 2px solid grey;
	border-radius: 3px;
}

.select2-search__field {
	min-width: 260px;
}

.filter-input-container {
}

@media (max-width: 992px) {
	.widget1-container {
		margin-top: 20px;
		min-height: 400px !important;
		height: 200px !important;
		min-width: 500px;
	}
	.widget2-container {
		height: 523.64px !important;
		min-width: 500px;
	}
	.widget2{
		margin: 0;
	}

	.filter-input-container {
		width: 45%;
		height: 40px;
		display: inline-block;
	}

	.filter-button {
		height: 100% !important;
		line-height: 190px !important;
	}

	.filter-button-container{
		position: absolute;
		bottom: 0 !important;
		left: auto !important;
		right: 0 !important;
		display: block;
		margin: auto;
		padding: 5px;
		width: 110px !important;
		height: 100% !important;
	}

	label{
		height: 115px !important;
		width: calc(100% - 110px) !important;
		margin-top: 10px !important;
	}
}
