html, body {
	height: 100%;
	background-color: #3b4554;
}

h1, h2, h3, h5 {
  display: inline-block;
  border-bottom: 2px solid #d8dde8;
	color: #404041;
	margin: 0;
}

h4 {
	margin-bottom: 3px;
}

input[type="checkbox"]{
	height: 22px;
	width: 22px;
}

.main-container {
	background-color: #3b4554;
}

.nav-button {
	background-color: #4178be;
	width: 75px;
	height: 50px;
}

.navbar-brand {
float: right;
}

#navbar {
	background-color: #152935;
}

.widget1 {
	background-color: #ffffff;
	height: 100%;
	padding: 15px;
}

.widget2 {
	background-color: #eff3f7;
	height: 100%;
	padding: 15px;
	margin-right: 20px;
	position: relative;

}

.master-container {
	height: 100%;
	min-height: 700px;
	padding: 85px 35px 35px 35px !important;
}

#vis {
	display: block;
	margin: auto;
	max-height: 100%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100% !important;
    vertical-align: top;

}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.filter-button-container, .generate-button-container{
	position: absolute;
	bottom: 20px;
	left: 0;
	display: block;
	margin: auto;
	padding: 5px;
	width: 100%;
	height: 50px;
	font-size: 20px;
}

.filter-button, .generate-button {
	color: #ffffff;
	background-color: #4178be;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	border-radius: 3px;
	cursor: pointer;
}

.filter-button:hover, .generate-button:hover {
	color: #dddddd;
}

label {
	margin-top: 10px !important;
}

.select2 {
    width: 100% !important;
}
/*
#viewsection {
	position:absolute;
	right: 1920px;
}
*/
.vis-select-item{
	width: 90px;
	height: 110px;
	margin-top: 5px;
	margin-left: 20px;
	text-align: center;
}

.vis-select-item:hover{
	background-color: #cccccc;
}

.vis-select-thumb{
	width: 90px;
	height: 90px;
}

.dtable {
	display: table;
}

.dtablec {
	display: table-cell;
}

.modal-dialog {
	width: 400px;
}

.widget3-container {
  padding-top: 20px;
}

.widget2-container-inner {
}

.search-icon-container {
	width: 100% !important;
}

.messages-box{
	overflow-y: scroll;
	height: calc(100% - 40px);
	width: 100%;
	margin: 10px 0 10px 0;
	border: 2px solid grey;
	border-radius: 3px;
}

.select2-search__field {
	min-width: 260px;
}

.filter-input-container {
}

.message {
	padding: 6px 6px 0 6px;
	width: 100%;
}

.message-icon {
	padding-right: 3px;
}

.arc text {
	font: 10px sans-serif;
	text-anchor: middle;
}
.arc path {
	stroke: #fff;
}

.build-widget1, .build-widget2 {
	margin-right: 20px;
}

.build-widget1, .build-widget2, .build-widget3{
	height: 100%;
	padding: 15px;
	background-color: #ffffff;
}

.build-widget-content {
	margin-top: 20px;
}

.build-widget-content {
	max-height: calc(100% - 33px);
}

.vis-select-container{
	background-color: #eff3f7;
	border: 1px solid #3b4554;
	border-radius: 3px;
	height: 40px;
	line-height: 28px;
	padding: 5px;
	margin-bottom: 7px;
	vertical-align: middle;
	transition: all 0.1s ease;
	cursor: pointer;
}

.vis-select-container:hover:not(.vis-list-selected){
	background-color: #fcfcfd;
}

.vis-list-selected{
	background-color: #fcfcfd;
	border-color: #4178be;
	-webkit-transform:scale(1.03); /* Safari and Chrome */
	-moz-transform:scale(1.03); /* Firefox */
	-ms-transform:scale(1.03); /* IE 9 */
	-o-transform:scale(1.03); /* Opera */
	transform:scale(1.03);
}

.overview-icon {
	position: relative;
	top: 30px;
	display: block;
	margin: 0 auto;
}

.overview-description {
	position: relative;
	top: 75px;
	font-size: 22px;
}

.mynav-button{
	margin: 8px 30px 0 0;
	color: #ffffff;
	background-color: #4178be;
}

.mynav-button.build{
	position: absolute;
	top: -200px;
	width: 300px;
	margin: 8px 100px 0 20px;
}

.mynav-button:hover, .save:hover{
	color: #dddddd;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.save {
	color: #ffffff;
	background-color: #4178be;
}

.label-settings {
	margin-top: 0 !important;
	margin: 0;
	position: relative;
	top: -7px;
}

input[type="checkbox"].settings-input {
	margin-left: 10px !important;
}

@media (max-width: 992px) {
	.build-widget1-container, .build-widget2-container {
		margin-bottom: 20px;
	}

	.build-widget1-container, .build-widget2-container, .build-widget3-container{
		max-height: 263px;
	}

	.build-widget1, .build-widget2 {
		margin-right: 0px;
	}

	.widget1-container {
		margin-top: 20px;
		min-height: 400px !important;
		height: 200px !important;
		min-width: 500px;
	}
	.widget2-container {
		height: 523.64px !important;
		min-width: 500px;
	}
	.widget2{
		margin: 0;
	}

	.filter-input-container {
		width: 45%;
		height: 40px;
		display: inline-block;
	}

	.filter-button {
		height: 100% !important;
		line-height: 190px !important;
	}

	.filter-button-container{
		position: absolute;
		bottom: 0 !important;
		left: auto !important;
		right: 0 !important;
		display: block;
		margin: auto;
		padding: 5px;
		width: 110px !important;
		height: 100% !important;
	}

	label{
		height: 115px !important;
		width: calc(100% - 110px) !important;
		margin-top: 10px !important;
	}
}
