/*************\
| Padding
\*************/
.no-padding {
	padding: 0;
}

.padding-left-10{
  padding: 0 0 0 10px;
}

.padding-top-10{
  padding: 10px 0 0 0;
}

/*************\
| Margin
\*************/
.margin-top-20{
  margin-top: 20px;
}

.no-margin {
	margin: 0 !important;
}

/*************\
| Height
\*************/
.full-height{
	height: 100%;
}

.half-height{
	height: 50%;
}

.half-height-20{
	height: calc(50% - 20px);
}

.two-thirds-height-20{
	height: calc(66% - 20px);
}

.one-third-height{
	height: 34%;
}

/*************\
| Positioning & Display
\*************/
.position-relative{
  position: relative;
}

.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;;
}
.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
}

.hidden {
	display: none;
}

.valign-middle {
	vertical-align: middle;
}

.center-align {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-align-center {
	text-align: center;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
